<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SauceDemo Suite" parallel="none">
    <listeners>
        <listener class-name="GenricUtility.ExtentReporterListener"/>
    </listeners>
    <test name="E2E Tests">
        <classes>
            <class name="Test.logintheuser"/>
            <class name="Test.CartTest"/>
            <class name="Test.CheckoutTest"/>
            <class name="Test.SortingTest"/>
            <class name="Test.LogoutTest"/>
        </classes>
    </test>
</suite>
